.footer {
  font-size: 16px;
  height: 16px;
  width: 194px;
  margin: 0 543px 0;
  padding: 24px;
  text-align: center;
}


@media screen AND (max-width: 768px) {
.footer {
    width: 194px;
    height: 16px;
    margin: 0 283px 24px;
    padding: 0;
  }
}


@media screen AND (max-width: 320px) {
   .footer {
    width: 194px;
    height: 14px;
    margin: 0 63px 24px;
    padding: 0;
  }
}
