
.image {
    width: 984px;
    height: 615px;
    margin: 0 148px 0;
}

@media screen and (max-width: 768px) {
.image {
    width: 100%;
    height: auto;
    margin: 0;
}
}

@media screen and (max-width: 320px) {
    .image {
        width: 100%;
        height: auto;
        margin: 0;
    }
} 
