.logo {
  display: flex;
  justify-content: center;
  width: 254px;
  margin: 34px 512px 91px 512px;
}

@media screen AND (max-width: 768px) {

  .logo {
   max-width: 254px;
   height: 66px;
   margin: 30px 257px 90px;
  }
}


@media screen AND (max-width: 320px) {

.logo {
  max-width: 188px;
  height: 52px;
  margin: 20px 66px 50px;
  }

}
