.page {
    background-color: #2a2c2f;
    color: #ffffff;
    font-family: "Inter";
    text-rendering: optimizeLegibility;
    margin: auto;
    width: 1280px;
    overflow-x: hidden;
    }
    
    @media screen AND (max-width: 768px) {
    
      .page {
        width: 768px;
        height: 1742px;
      }
    }
    
    @media screen AND (max-width: 320px) {
    
      .page {
        width: 320px;
        height: 1705px;
      }
    }

